
#article[hidden]{
	display: none;
}
#article{
	display: flex;
	flex-direction: column;
	font-size: 1.15rem;
}
#article>*{
	margin-inline: auto;
	margin-bottom: 1rem;
	padding: 0 2rem;
	width: 40rem;
	max-width: 100vw;
}
#title{
	line-height: 1.2;
}
#title:focus{
	outline: 0;
}
#media{
	width: 100vw;
	padding-block: 1rem;
	align-content: safe center;
}
#media>img{
	background-color: var(--color);
	min-width: 1rem;
}
#media>.youtube{
	width: 28.44rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#media>.youtube>input:checked,
#media>.youtube>input:checked~label,
#media>.youtube>input:not(:checked)~iframe{
	display: none;
}
#media>.youtube>input{
	cursor: pointer;
	width: 5rem;
	height: 5rem;
}
#media>.youtube>input::before{
	content: '▶';
	transition: inherit;
	display: block;
	width: inherit;
	height: inherit;
	text-align: center;
	font-size: 4rem;
	color: var(--link);
	background: var(--secondary);
}
#media>.youtube>input:hover::before{
	color: var(--text);
}
#media>.youtube>label{
	padding: 1rem;
}
#media>.youtube>iframe{
	width: 100%;
	height: 100%;
}
#media:empty{
	display: none;
}
#article>.metadata{
	font-style: italic;
}
#author{
	display: inline;
}
#author:empty{
	display: none;
}
#body{
	line-height: 1.4;
}
#article>header{
	display: none;
}
main>footer{
	margin: 10rem 0;
}
#article a{
	color: var(--link);
}
#article a:hover,
#article a:focus{
	color: inherit;
}
#article thead{
	font-weight: bold;
}
