body {
	margin: 2rem 0;
	background: var(--primary);
	color: var(--text);
	overscroll-behavior: none;
}
body * {
	box-sizing: border-box;
	overflow-wrap: break-word;
	transition-property: color, border-color, opacity;
	transition-duration: 100ms;
}
.category>section,
#footer {
	padding: 0 2rem;
}
footer{
	text-align: center;
}
body>footer{
	margin: 50vh 0;
}
#article a,
#footer a {
	color: var(--link);
}
