.location>h2{
	text-align: center;
}
.category>.snippets{
	display: grid;
	grid-gap: 1.5rem;
	grid-auto-rows: auto;
}
.category>h3{
	margin: 2rem 0;
}
.category>h3>a{
	border-left: 0.5rem solid var(--color);
	padding: 0 1.5rem;
}
.snippet {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto 1fr;
	grid-gap: 0.5rem;
	max-width: calc(100vw - 4rem);
	color: inherit;
	opacity: var(--fade);
	user-select: none;
	overflow: visible;
}
.snippet>*{
	pointer-events: none;
	margin: 0;
}
.snippet:hover,
.snippet:focus {
	text-decoration: none;
}
.snippet>img{
	max-width: 100%;
	max-height: 100%;
	justify-self: center;
	align-self: center;
}
.snippet:hover>h4,
.snippet:focus>h4{
	text-decoration: underline;
}
/** LAYOUT SPECIFIC STYLING **/
[data-layout=splash]>.snippets{
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
[data-layout=splash] .snippet{
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: min-content 1fr;
	grid-template-areas:
	  'img .'
	  'img .';
	border-right: 0.2rem solid var(--color);
	padding-right: 0.5rem;
}
[data-layout=splash] .snippet>img{
	grid-area: img;
}
[data-layout=splash] .snippet>h4{
	font-size: 1.3rem;
}
[data-layout=splash] .snippet>p{
	font-size: 1.1rem;
}
/*//////////////////*/
[data-layout=list]>.snippets {
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}
[data-layout=list] .snippet>img{
	display: none;
}
[data-layout=list] .snippet>h4{
	font-weight: normal;
	font-size: 1.1rem;
}
/*//////////////////*/
[data-layout=row]>.snippets {
	grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr))
}
[data-layout=row] .snippet{
	padding-bottom: 0.5rem;
	border-bottom: 0.2rem solid var(--color);
}
