#calendar-labels,
#calendar-days {
	display: grid;
	grid-template-columns: repeat(7, 2rem) 1fr;
	max-width: 24rem;
	grid-gap: 0.2rem;
}
#calendar-labels {
	grid-template-rows: 1fr;
	text-align: center;
}
#calendar-days {
	position: relative;
	height: 10.8rem;
	overflow: hidden scroll;
	grid-template-rows: repeat(49, 2rem);
	-ms-scroll-snap-type: y mandatory;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
}
.day{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0.15rem dotted var(--color);
	background-color: transparent;
	scroll-snap-align: none;
	position: relative;
	cursor: cell;
}
.day:hover,
.day:focus{
	border-color: var(--color) !important;
}
.day:hover,
.day:focus{
	z-index: 9999;
}
.day::before,
.day::after{
	content: '';
	position: absolute;
	left: 2.05rem;
	top: -0.15rem;
	width: 1.7rem;
	height: 1.7rem;
	opacity: 0;
	pointer-events: none;
	transition: inherit;
	border: inherit;
	box-sizing: border-box;
}
.day::before{
	display: flex;
	align-items: center;
	width: max-content;
	padding: 0 0.15rem 0 1.5rem;
	background-color: var(--primary) !important;
	color: var(--text);
	content: attr(aria-label);
	font-size: 0.85rem;
}
.day::after{
	background-color: var(--color) !important;
	display: block;
	mask-size: cover;
	-webkit-mask-position: center;
	mask-position: center;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 80%;
	mask-size: 80%;
	-webkit-mask-image: var(--image);
	mask-image: var(--image);
}
.day:hover::before,
.day:hover::after,
.day:focus::before,
.day:focus::after{
	opacity: 1;
}
.day[href]{
	border-style: solid;
	cursor: pointer;
}
.day.even-month{
	background-color: var(--highlight);
}
.day.first-day{
	scroll-snap-align: start;
}
#current-day{
	border-style: double !important;
	border-width: 0.3rem;
}
#current-day::before,
#current-day::after{
	top: -0.3rem;
	left: 1.90rem;
}
