#covid-chart {
	width: 24rem;
	max-width: 50%;
	margin: 1rem;
}
#covid-chart path {
	stroke: var(--text);
	stroke-width: 0.2rem;
	stroke-linecap: round;
}
#covid-chart text {
	font: 3rem crimson;
	fill: var(--text);
}
#covid-chart tspan.location {
	font: 2rem crimson;
}
