#covid-chart {
	width: 24rem;
	max-width: 50%;
	margin: 1rem;
}
#covid-chart path.label-connector {
	fill: none;
	stroke: var(--text);
	opacity: 0.5;
	stroke-width: 0.2rem;
	stroke-linecap: round;
}
#covid-chart path {
	mix-blend-mode: multiply;
}
#covid-chart text {
	font: 3rem crimson;
}
#covid-chart tspan.label {
	font: 2rem crimson;
}
