#covid-chart {
	width: 36rem;
	max-width: 100%;
	margin: 1rem;
}
#covid-chart path {
	stroke: var(--text);
	stroke-width: 0.2rem;
	stroke-linecap: round;
	transition-duration: 100ms;
}
#covid-chart path:hover {
	fill: var(--text);
}
#covid-chart path:hover+text {
	opacity: 1;
}
#covid-chart text {
	font: 2rem crimson;
	fill: var(--text);
}
#covid-chart tspan.location {
	font: 1.5rem crimson;
}
