html, h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
a {
	color: inherit;
	text-decoration: none;
}
a[href]:hover,
a[href]:focus {
	text-decoration: underline;
	border-color: var(--text);
	color: inherit;
	outline: 0;
	opacity: 1 !important;
}
h1 {
	font-size: 1rem;
	text-align: center;
}
h2 {
	font-size: 2.2rem;
	margin: 2rem 0 1rem 0;
}
h3 {
	font-size: 1.6rem;
}
h4 {
	font-size: 1.2rem;
}
h5, h6 {
	font-weight: normal;
}
img {
	object-fit: cover;
}
