#category-schedule>p {
	text-align: center;
}
.schedule{
	margin: 3rem 0;
}
.schedule td{
	position: relative;
	height: 1pt;
}
.schedule time{
	position: absolute;
	top: 2pt;
	transform: translateX(-50%);
	font-weight: 600;
}
.schedule td:nth-child(even){
	background: var(--highlight);
}
.schedule td:nth-child(even) time{
	transform: translate(-50%, -100%);
}
.schedule td.highlighted-period{
	background: var(--text)
}

