.schedule{
	margin: 1rem 0;
}
.schedule h4 {
	font-weight: normal;
}
.schedule:target h4{
	font-weight: bold;
}
.schedule p {
	text-align: center;
}
.schedule table {
	margin: 2rem 0;
}
.schedule td{
	position: relative;
	height: 1pt;
}
.schedule time{
	position: absolute;
	top: 2pt;
	transform: translateX(-50%);
	font-weight: bold;
}
.schedule td:nth-child(even){
	background-color: var(--highlight);
}
.schedule td:nth-child(even) time{
	transform: translate(-50%, -100%);
}
.schedule td.highlighted-period{
	background-color: var(--color);
}
#schedule-toggle:checked ~ .week[hidden],
#schedule-toggle:checked ~ .week > .schedule[hidden] {
	display: block;
	opacity: var(--fade);
}
