.week, .schedule {
	margin: 1rem 0;
}
.schedule table {
	margin: 2rem 0;
}
.schedule td{
	position: relative;
	height: 1pt;
}
.schedule time{
	position: absolute;
	top: 2pt;
	transform: translateX(-50%);
	font-weight: 600;
}
.schedule td:nth-child(even){
	background: var(--highlight);
}
.schedule td:nth-child(even) time{
	transform: translate(-50%, -100%);
}
.schedule td.highlighted-period{
	background: var(--text)
}
#schedule-toggle:checked ~ .week[hidden],
#schedule-toggle:checked ~ .week > .schedule[hidden] {
	display: block;
	opacity: var(--fade);
}

#C-Student_ID>section>output {
	font-family: Courier, Monospace;
	color: var(--text);
	font-size: 16vmin;
	transform-origin: top left;
	transform: scale(0.05,1);
	white-space: nowrap;
	display: block;
	user-select: all;
	cursor: cell;
}

