.schedule{
	margin: 1rem 0;
}
.schedule h4{
	font-weight: normal;
}
.schedule p {
	text-align: center;
}
.schedule table {
	margin: 2rem 0;
}
.schedule td{
	position: relative;
	height: 1pt;
}
.schedule time{
	position: absolute;
	top: 2pt;
	transform: translateX(-50%);
	font-weight: 600;
}
.schedule td:nth-child(even){
	background: var(--highlight);
}
.schedule td:nth-child(even) time{
	transform: translate(-50%, -100%);
}
.schedule td.highlighted-period{
	background: var(--text)
}
#schedule-toggle:checked ~ .week[hidden],
#schedule-toggle:checked ~ .week > .schedule[hidden] {
	display: block;
	opacity: var(--fade);
}
#student-id{
	text-align: right;
}
#student-id:placeholder-shown~#barcode {
	display: none;
}
#barcode {
	display: block;
	margin-top: 1rem;
	background: white;
	border: 1rem solid white;
	width: 80vmin;
}
#calendar>section>*{
	display: grid;
	grid-template-columns: repeat(7, 2rem) 1fr;
	max-width: 20rem;
	grid-gap: 0.2rem;
}
#calendar-labels>*{
	text-align: center;
}
#calendar-days{
	height: 11rem;
	overflow: hidden scroll;
	grid-auto-rows: 2rem;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
}
.day{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0.1rem dashed var(--color);
	background: transparent;
	scroll-snap-align: none;
}
.day:hover,
.day:focus,
.day.current-day{
	border-width: 0.2rem;
	background: var(--color) !important;
	color: transparent !important;
	mask-size: cover;
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: 90%;
	mask-image: var(--image);
	-webkit-mask-position: center;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: 90%;
	-webkit-mask-image: var(--image);
}
.day[href]{
	border-style: solid;
}
.day.even-month{
	background: var(--highlight);
}
.day.first-day{
	scroll-snap-align: start;
}
