.week, .schedule {
	margin: 1rem 0;
}
.schedule p {
	text-align: center;
}
.schedule table {
	margin: 2rem 0;
}
.schedule td{
	position: relative;
	height: 1pt;
}
.schedule time{
	position: absolute;
	top: 2pt;
	transform: translateX(-50%);
	font-weight: 600;
}
.schedule td:nth-child(even){
	background: var(--highlight);
}
.schedule td:nth-child(even) time{
	transform: translate(-50%, -100%);
}
.schedule td.highlighted-period{
	background: var(--text)
}
#schedule-toggle:checked ~ .week[hidden],
#schedule-toggle:checked ~ .week > .schedule[hidden] {
	display: block;
	opacity: var(--fade);
}
#student-id{
	text-align: right;
}
#student-id:placeholder-shown~#barcode {
	display: none;
}
#barcode {
	display: block;
	margin-top: 1rem;
	background: white;
	border: 1rem solid white;
	width: 80vmin;
}
#calendar table{
	border-spacing: 0.2rem;
}
.day{
	text-align: center;
}
.day.even-month{
	background: var(--highlight);
}
.day{
	display: block;
	text-align: center;
	width: 2rem;
	height: 2rem;
	line-height: 1.8rem;
	border: 0.1rem solid var(--color);
}
.day.current-day,
.day:hover,
.day:focus-within{
	border-width: 0.2rem;
	line-height: 1.6rem;
	border-color: var(--color) !important;
}
